<%- include("./partials/header.ejs") %>
    <title>Untold Story | Forgot Password</title>
    </head>

    <body>
        <div class="min-h-screen flex flex-col justify-center bg-gray-100  text-gray-800 antialiased px-4 py-6 sm:py-12">
            <div class="relative mx-auto sm:w-2/5 py-2">
                <span class="block text-2xl sm:text-3xl font-semibold ">Forgot Password</span>
                <div class="relative mt-4 bg-white shadow-md">
                    <div class=" h-2 bg-blue-500 rounded-t-md"></div>
                    <form action="" method="POST" class="px-6 py-8 " id="forgot-form">
                        <label for="" class="block font-semibold">Email</label>
                        <input type="text" placeholder="Email" name="email" class="block input-box">
                        <span class="error email-forgot-password error-msg "></span>
                        <button class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const forgotForm = document.getElementById('forgot-form');
            const emailError = document.querySelector('.error.email-forgot-password');
            forgotForm.addEventListener('submit', async(e) => {
                e.preventDefault();
                const email = forgotForm.email.value;
                emailError.textContent = '';
                try {
                    const res = await fetch('/forgot-password', {
                        headers: {
                            'Content-type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify({
                            email: email
                        })
                    });
                    const data = await res.json();
                    // console.log(data);
                    // console.log(data.errors[0]);
                    console.log(data.success);
                    if (data.success !== 'Ok') {
                        emailError.textContent = data.errors[0].msg;
                    }
                    if (data.user) {
                        window.location.href = `/emailsend/${data.accept}`;
                    }
                } catch (err) {
                    console.log(err);
                }
            })
        </script>
        <%- include("./partials/footer.ejs") %>