<%- include("./partials/header.ejs") %>
    <title>Untold Story | Forgot Password</title>
    </head>

    <body>
        <div class="min-h-screen flex flex-col justify-center bg-gray-100  text-gray-800 antialiased px-4 py-6 sm:py-12">
            <div class="relative mx-auto sm:w-2/5 py-2">
                <span class="block text-2xl sm:text-3xl font-semibold ">Forgot Password</span>
                <div class="relative mt-4 bg-white shadow-md">
                    <div class=" h-2 bg-blue-500 rounded-t-md"></div>
                    <form action="" method="POST" class="px-6 py-8 ">
                        <label for="" class="block font-semibold">Email</label>
                        <input type="text" placeholder="Email" name="email" class="block input-box">
                        <span class="error-msg error email"></span>
                        <button class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
<%- include("./partials/footer.ejs") %>
