<%- include("./partials/header.ejs") %>
    <title>Untold Story | Home</title>
    </head>

    <body id="body">
        <header id="header" class=" fixed w-full h-20 bg-blue-500 text-white flex flex-row justify-between items-center drop-shadow-md px-6 md:px-12">
            <a href="" class="flex justify-center items-center text-md sm:text-xl md:text-2xl font-semibold"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 pr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
          </svg>
          Untold Story
          </a>
            <nav>
                <button id="open-btn" class="rounded-full bg-white w-12 h-12 text-xl text-blue-500">AS</button>
                <div id="navbar" class="  fixed bg-blue-500 text-white w-full drop-shadow-md top-0 right-0 min-h-screen p-4 close sm:w-1/2 lg:w-1/3 z-20">
                    <div class="block">
                        <button id="close-btn" class="hover:rounded-full hover:bg-blue-300 hover:px-1 hover:py-1 hover:drop-shadow-md text-white h-8 transition-all duration-150 ease-in">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                          </svg>
                          
                    </button>
                    </div>
                    <div class="flex flex-col justify-between items-center">
                        <div>
                            <button class="w-20 h-20 bg-white text-blue-500 rounded-full md:h-28 md:w-28 text-3xl font-semibold">AS</button>
                        </div>
                        <span class="text-2xl my-4">@username</span>
                        <div class="flex flex-col justify-center items-center mx-8">
                            <span class="mb-2 text-lg font-semibold">About Me</span>
                            <span class="text-sm text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolor fugiat totam vero doloremque nesciunt dolore molestias debitis dignissimos a?</span>
                        </div>
                        <div class="w-5/6 h-0.5 bg-slate-300 mt-3 rounded-full "></div>
                        <div class="flex flex-row space-x-10 my-3 md:text-2xl font-semibold lg:my-6">
                            <div class="flex flex-col justify-center items-center  ">
                                <span>Private Story</span>
                                <span>100</span>
                            </div>
                            <div class="flex flex-col justify-center items-center ">
                                <span>Public Story</span>
                                <span>100</span>
                            </div>
                        </div>

                        <a href="#" class="px-8 py-2 text-lg md:px-10 md:py-3 md:my-3 lg:my-6 bg-red-600 text-white md:text-xl rounded-md font-semibold  hover:bg-red-700">Logout</a>


                    </div>

                </div>
            </nav>
        </header>
        <section id="feature" class="min-h-screen bg-gray-200"></section>
        <section id="about" class="min-h-screen bg-gray-100"></section>
        <section id="contact" class="min-h-screen"></section>
        <footer class="fixed bottom-0 px-2 w-full h-14 bg-slate-100 text-white z-10 backdrop-blur-xl drop-shadow-xl">
            <div class="flex  justify-evenly items-center pt-2 text-black">
                <a href="#" class="flex flex-col justify-center items-center active:text-blue-700 focus:text-blue-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
                  </svg>

                    <h1>Home</h1>
                </a>

                <a href="#" class="flex flex-col justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                  </svg>

                    <h1>Feed</h1>
                </a>
                <a href="#" class="flex flex-col justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                    <h1>Add Story</h1>

                </a>
                <a href="#" class="flex flex-col justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>

                    <h1>Search</h1>
                </a>
            </div>
        </footer>






        <%- include("./partials/footer.ejs") %>