<%- include("./partials/header.ejs") %>
<div class="login">
    <div class="container">
        <form action="">
            
        </form>
    </div>
</div>


<%- include("./partials/footer.ejs") %>
