<h1>Reset Password for
    <%= email %>
</h1>

<form action="" method="POST">
    <label for="">Password</label>
    <input type="password" name="password" id="">
    <br>
    <label for="">Confirm Password</label>
    <input type="password" name="password2">
    <input type="submit" value="reset-password">
</form>