<%- include("./partials/header.ejs") %>
    <title>Unfold Page | Reset Password</title>
    </head>

    <body>
        <div class="min-h-screen bg-gray-100 text-gray-800 px-4 py-6 antialiased flex flex-col justify-center sm:py-12">
            <div class="relative mx-auto sm:w-2/5 py-2">
                <span class="block text-2xl sm:3xl font-semibold">Reset Password for <%= email%></span>
                <div class="relative bg-white mt-4 shadow-md">
                    <div class="h-2 bg-blue-500 rounded-t-md"></div>
                    <form action="" method="POST" class="px-6 py-8" id="form-reset">
                        <label for="" class="block font-semibold">Password</label>
                        <input type="password" name="password" id="" class="input-box">
                        <span class="error-msg error password"></span>
                        <label for="" class="block font-semibold">Confirm Password</label>
                        <input type="password" name="password2" class="input-box">
                        <span class="error-msg error cpassword"></span>
                        <button class="btn">Reset Password</button>
                    </form>

                </div>
            </div>
        </div>

        <!-- <script>
            const formReset = document.getElementById('form-reset');
            const passwordError = document.querySelector('.error.password');
            const cpasswordError = document.querySelector('.error.cpassword');

            formReset.addEventListener('submit', async(e) => {
                e.preventDefault();
                const password = formReset.password.value;
                const password2 = formReset.password2.value;

                passwordError.textContent = '';
                cpasswordError.textContent = '';

                try {
                    const res = await fetch('/reset-password/' + this.id + '/' + this.token, {
                        headers: {
                            'Content-type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify({
                            password: password,
                            password2: password2
                        })
                    });
                    const data = await res.json();
                    console.log(data);
                    if (data.success !== 'Ok') {
                        for (let i = 0; i < data.errors.length; i++) {
                            if (data.errors[i].param === 'password') {
                                passwordError.textContent = data.errors[i].msg;
                            }
                            if (data.errors[i].param === 'password2') {
                                cpasswordError.textContent = data.errors[i].msg;
                            }
                        }
                        // passwordError.textContent = data.errors[0].msg;
                        // cpasswordError.textContent = data.errors[1].msg;
                    }
                    console.log('after the error flow')
                    if (data.success === 'Ok') {
                        console.log('Password reset successfully');
                        window.location.href = '/login';
                    }
                } catch (err) {
                    console.log(err);
                }
            })
        </script> -->







        <%- include("./partials/footer.ejs") %>