<%- include("./partials/header.ejs") %>
    <title>Untold Story | Reset Password</title>
    </head>

    <body>
     <div class="min-h-screen bg-gray-100 text-gray-800 px-4 py-6 antialiased flex flex-col justify-center sm:py-12">
        <div class="relative mx-auto sm:w-2/5 py-2">
            <span class="block text-2xl sm:3xl font-semibold">Reset Password for <%= email%></span>
            <div class="relative bg-white mt-4 shadow-md">
                <div class="h-2 bg-blue-500 rounded-t-md"></div>
                <form action="" method="POST" class="px-6 py-8">
                    <label for="" class="block font-semibold">Password</label>
                    <input type="password" name="password" id="" class="input-box">
                    <span class="error-msg error password"></span>
                    <label for="" class="block font-semibold">Confirm Password</label>
                    <input type="password" name="password2" class="input-box">
                    <span class="error-msg error cpassword"></span>
                    <button class="btn">Reset Password</button>
                </form>
                
            </div>
        </div>
     </div>   




<!-- <h1>Reset Password for
    <%= email %>
</h1>

<form action="" method="POST">
    <label for="">Password</label>
    <input type="password" name="password" id="">
    <br>
    <label for="">Confirm Password</label>
    <input type="password" name="password2">
    <input type="submit" value="reset-password">
</form> -->


<%- include("./partials/footer.ejs") %>
