<%- include("./partials/header.ejs") %>
    <title>Untold Story | Search</title>
    </head>
    <body class="bg-gray-100">
        <header id="header" class="fixed w-full h-20 bg-indigo-700 text-white flex justify-between items-center drop-shadow-md px-6 md:px-12">
            <a href="" class="flex justify-center items-center text-md sm:text-xl md:text-2xl font-semibold">
              Untold Story
              </a>
              <div class="search relative flex  items-center h-10 ">
                <input type="text" class="input p-1 focus:outline-none outline-none bg-white text-black  h-10 w-12 border-0 text-lg" placeholder="Search">
                <button class="bttn absolute p-1 bg-white text-black h-10 w-12 border-0 top-0 left-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
                </button>
              </div>
              
        </header>
        
<script>
  const search = document.querySelector('.search');
  const input = document.querySelector('.input');
  const bttn = document.querySelector('.bttn');
  bttn.addEventListener('click',()=>{
    search.classList.toggle('active');
    input.focus();
  })
</script>


        
<%- include("./partials/footer.ejs") %>




