<%- include("./partials/header.ejs") %>
    <title>Untold Story | Show Story</title>
    </head>
    <body>
        <header id="header" class=" w-full h-20 bg-blue-500 text-white flex justify-between items-center drop-shadow-md px-6 md:px-12">
            <a href="" class="flex justify-center items-center text-md sm:text-xl md:text-2xl font-semibold">
              Untold Story
              </a>
              <a href="/" class="hover:scale-125 transition-all ease-in duration-200  ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>
                  
              </a>
        </header>
        <div class="flex min-h-screen flex-col  overflow-hidden bg-gray-100 py-6 sm:py-4">
            <div class="container mx-auto grid gap-6 p-4 px-10 sm:grid-cols-1 md:grid-cols-3">
              <div class="bg-white p-7 shadow-md md:col-span-2">
                <span class="font-medium text-lg">September 15th 2022, 10:13:22 am</span>
                <h1 class="my-4 font-semibold text-lg p-2">Title Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aperiam voluptatum corrupti nemo sit quas sunt totam impedit officia libero!</h1>
                <p class="p-2 leading-7 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse itaque nulla dolorum inventore! Quibusdam eligendi eos error est corporis esse. Fugiat est ad animi excepturi similique, modi nisi impedit dicta officia maxime consequatur praesentium inventore ipsam voluptatem. Recusandae dolores aspernatur perspiciatis, enim pariatur illum sequi porro autem eveniet dolorum eos fugit veniam. Officia iure, atque facere earum dolor esse exercitationem qui. Vero nulla magnam fuga, modi officia laudantium ex nam ab numquam error cum asperiores dolor! Omnis dicta, voluptatum in reprehenderit expedita vitae recusandae officiis velit quibusdam reiciendis veniam nobis dolor, a debitis. Officiis, quo nemo nam fugiat tempore architecto blanditiis mollitia expedita molestias dignissimos. Corrupti, consectetur. Quas consequatur voluptatem repudiandae enim, optio id porro impedit, magnam architecto maiores assumenda pariatur dolores excepturi iure quisquam, nam omnis eaque in non? Quidem assumenda placeat architecto minima cupiditate veritatis vel ipsa beatae, facere velit eos dolores inventore cum aut aliquam quia ea accusamus, earum, accusantium voluptate quo! Architecto ad vitae, temporibus accusamus quis ea aliquam ipsa alias. Incidunt eum quod aut libero inventore sint dicta, ex sed provident aliquid. Cumque similique facere praesentium qui earum eius exercitationem quos culpa enim dolores, nulla iusto dolorem natus consequatur, porro facilis magni error non recusandae!</p>
              </div>
              <div class="rounded-sm bg-white shadow-md md:h-80">
                
                <div class="flex flex-col items-center justify-center my-8">
                  <h1 class="text-2xl py-4 font-semibold">Profile</h1>
                  <button class="h-28 w-28 rounded-full bg-blue-500 text-5xl text-white text-center">S</button>
                  <hr class="my-6 w-4/5 text-gray-600 ">
                  <a href="#" class="hover:text-blue-600 text-blue-500 font-semibold uppercase">More From Sid</a>
                </div>
                
                
              </div>
            </div>
          </div>
          



<%- include("./partials/footer.ejs") %>
    