<%- include("./partials/header.ejs") %>
    <title>Untold Story | Sign Up</title>
    </head>

    <body>
        <div class="min-h-screen bg-gray-100 text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">
            <div class="relative py-2 sm:w-2/5 mx-auto text-center ">
                <span class="block text-2xl sm:text-3xl font-semibold mb-1">Welcome to Untold Story</span>
                <span class="block text-xl">Create a New Account</span>
                <div class="relative mt-4 bg-white shadow-md">
                    <div class="h-2 bg-blue-500 rounded-t-md"></div>
                    <form action="" class="signup py-6 px-8 text-left" id="signup">
                        <label for="" class="block font-semibold">First Name</label>
                        <input type="text" name="firstname" placeholder="First name" class="input-box">
                        <span class="error-msg error firstname "></span>
                        <label for="" class="block font-semibold">Last Name</label>
                        <input type="text" name="lastname" placeholder="Last name" class="input-box">
                        <span class="error-msg error lastname"></span>
                        <label for="" class="block font-semibold">Username</label>
                        <input type="text" name="username" placeholder="username" class="input-box">
                        <span class="error-msg error username"></span>
                        <label for="" class="block font-semibold">Email</label>
                        <input type="text" name="email" placeholder="Email" class="input-box">
                        <span class="error-msg error email"></span>
                        <label for="" class="block font-semibold">Password</label>
                        <input type="password" name="password" placeholder="password" class="input-box">
                        <span class="error-msg error password"></span>
                        <label for="" class="block font-semibold">About</label>
                        <input type="text" name="about" placeholder="About" class="input-box">
                        <span class="error-msg error about"></span>
                        <div class="">
                            <button type="submit" class="btn">Sign Up</button>
                            <p class="text-center text-sm font-normal">Already have account? <a href="#" class="hover:underline text-blue-500 font-semibold">Login</a></p>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        <script>
            const signup = document.querySelector('.signup');
            //Error Message Box
            const firstnameError = document.querySelector('.error.firstname');
            const lastnameError = document.querySelector('.error.lastname');
            const usernameError = document.querySelector('.error.username');
            const emailError = document.querySelector('.error.email');
            const passwordError = document.querySelector('.error.password');
            const aboutError = document.querySelector('.error.about');
            signup.addEventListener('submit', async(e) => {
                console.log('button event is click');

                e.preventDefault();
                const firstname = signup.firstname.value;
                const lastname = signup.lastname.value;
                const username = signup.username.value;
                const about = signup.about.value;
                const email = signup.email.value;
                const password = signup.password.value;
                firstnameError.textContent = '';
                lastnameError.textContent = '';
                usernameError.textContent = '';
                aboutError.textContent = '';
                emailError.textContent = '';
                passwordError.textContent = '';
                try {
                    const res = await fetch('/signup', {
                        headers: {
                            'Content-type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify({
                            firstname: firstname,
                            lastname: lastname,
                            username: username,
                            about: about,
                            email: email,
                            password: password,
                        })
                    });
                    const data = await res.json();
                    console.log(data);
                    // const err = data.errors[0].msg;
                    // console.log(data.errors.email);
                    // if (data.errors.email) {
                    //     emailError.textContent = data.errors.email;
                    //     return;
                    // }
                    console.log(data.success);
                    if (data.success !== 'Ok') {


                        for (let i = 0; i < data.errors.length; i++) {
                            if (data.errors[i].param === 'firstname') {
                                firstnameError.textContent = data.errors[i].msg;
                            } else if (data.errors[i].param === 'lastname') {
                                lastnameError.textContent = data.errors[i].msg;
                            } else if (data.errors[i].param === 'username') {
                                usernameError.textContent = data.errors[i].msg;
                            } else if (data.errors[i].param === 'email') {
                                emailError.textContent = data.errors[i].msg;
                            } else if (data.errors[i].param === 'password') {
                                passwordError.textContent = data.errors[i].msg;
                            } else if (data.errors[i].param === 'about') {
                                aboutError.textContent = data.errors[i].msg;
                            }
                        }
                    }
                    // console.log(err);

                    // console.log(data);
                    console.log(data.user);
                    if (data.user) {

                        location.assign('/login');
                    }
                } catch (error) {
                    console.log(error);

                }
            });
        </script>
        <%- include("./partials/footer.ejs") %>