@tailwind base;
@tailwind components;
@tailwind utilities;
.close {
    transform: translateX(100%);
    transition: all 0.4s ease-out;
    opacity: 0;
}

.open {
    transform: translateX(0);
    transition: all 0.4s ease-in;
    opacity: 1;
    overflow: hidden;
}

.overflowopen {
    overflow: auto;
}

.overflowhidden {
    overflow: hidden;
}
