@tailwind base;
@tailwind components;
@tailwind utilities;
.error-msg {
    @apply text-xs text-red-700 font-semibold my-1 block;
}

@layer base {
    html {
        @apply scroll-smooth;
    }
}

@layer components {
    .btn {
        @apply block bg-blue-500 text-white px-4 py-2 w-full rounded-md my-4 font-semibold text-xl hover:bg-blue-600;
    }
    .input-box {
        @apply border w-full h-5 hover:outline-none focus:outline-none focus:ring-1 focus:ring-blue-500 px-3 py-4 mt-2 rounded-sm;
    }
}

.close {
    transform: translateX(100%);
    transition: all 0.5s ease-out;
    opacity: 0;
}

.open {
    transform: translateX(0);
    transition: all .3s ease-in;
    opacity: 1;
    overflow: hidden;
}

.overflowopen {
    overflow: auto;
}

.overflowhidden {
    overflow: hidden;
}

.menu{
    transform-origin: top right;
}
.hide{
    transform: scale(0);
    transition: transform 0.2s ease;
}
.settings .menu.show{
    transform: scale(1);
}
/* .settings:hover .menu{
    transform: scale(1);
} */

/* search-box */


/* .search-box{
    position: absolute;
    top: 12px;
    right: 20px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    transform: translate(-50%,-50%);
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn{
    background: #fff;
    outline: none;
    
}
.search-btn{
    color: red;
    float: right;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border: none;
    float: left;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 12px;
    width: 0px;
} */